{% extends 'base.html.j2' %}
{% block title %}
    Homepage
{% endblock %}

{% block content %}
    {# form to create post #}
    <form method="POST" action="{{url_for('social.index')}}">
        <div class="mb-3">
            <textarea class="form-control" placeholder="What is on your mind?" name="body" style="height: 100px;"></textarea>
        </div>
        <button type="submit" class="btn btn-primary"><i class="bi bi-send-fill"></i>&nbsp;Post</button>
    </form>

    <h1>New Feed</h1>
    <hr>
    
    {# put posts here #}
    {% for post in posts %}
        {% include './includes/_post.html.j2' %}
    {% endfor %}

{% endblock %}
