{% extends 'base.html.j2' %}
{% block title %}
    Homepage
{% endblock %}

{% block content %}
    <h1>CAE-89 Is the greatest.</h1>
    <h5>They are gonna destroy Flask</h5>
    Because they are animals!
{% endblock %}
